public/views/directives/list-items.html

<ul masonry="masonry">
  <li ng-repeat="item in itemsInit" class="masonry-brick col-xs-4 inspiration"><a href="/assets/brands/{{item.image}}" rel="gallery" title="{{item.text}}" fancybox="fancybox" class="fancybox"><img ng-src="/assets/brands/{{item.image}}" class="img-responsive"/></a></li>
  <li ng-repeat="item in itemsLoad" class="masonry-brick col-xs-4 inspiration"><a href="/assets/brands/{{item.image}}" rel="gallery" title="{{item.text}}" fancybox="fancybox" class="fancybox"><img ng-src="/assets/brands/{{item.image}}" class="img-responsive"/></a></li>
  <li scroll-trigger="loadMore()" threshold="100"></li>
</ul>

build/public/app/directives/list-items.jade
ul(masonry)
  li.masonry-brick.col-xs-4.inspiration(ng-repeat='item in itemsInit')
    a.fancybox(href="/assets/brands/{{item.image}}" rel="gallery" title="{{item.text}}" fancybox)
      img.img-responsive(ng-src="/assets/brands/{{item.image}}")
  li.masonry-brick.col-xs-4.inspiration(ng-repeat='item in itemsLoad')
    a.fancybox(href="/assets/brands/{{item.image}}" rel="gallery" title="{{item.text}}" fancybox)
      img.img-responsive(ng-src="/assets/brands/{{item.image}}")
  li(scroll-trigger="loadMore()" threshold="100")
