build/public/views/pages/index.jade
#home(ng-controller='productsCtrl')
  .preload(ng-hide='ready')
    img(src='/assets/img/ui/spinner.gif')
    h4 Please give us some time to collect lovely things...
  #products(ng-show='ready')
    wrap-products(products='randomProducts' ng-if='!currentUser')
    wrap-products(products='preferProducts' ng-if='currentUser')

public/views/pages/index.html

<div id="home" ng-controller="productsCtrl">
  <div ng-hide="ready" class="preload"><img src="/assets/img/ui/spinner.gif"/>
    <h4>Please give us some time to collect lovely things...</h4>
  </div>
  <div id="products" ng-show="ready">
    <wrap-products products="randomProducts" ng-if="!currentUser"></wrap-products>
    <wrap-products products="preferProducts" ng-if="currentUser"></wrap-products>
  </div>
</div>
