build/public/views/pages/brand/products.jade
#brandProducts(ng-controller='brandCtrl' ng-cloak)
  .preload(ng-hide='ready')
    img(src='/assets/img/ui/spinner.gif')
    h4 Please give us some time to collect lovely things...
  .wrap(ng-show='ready')
    .col-xs-3
      include brand-sidebar
    #products.col-xs-9(ng-controller='productsCtrl')
      wrap-products(products='brandProducts')

public/views/pages/brand/products.html

<div id="brandProducts" ng-controller="brandCtrl" ng-cloak="ng-cloak">
  <div ng-hide="ready" class="preload"><img src="/assets/img/ui/spinner.gif"/>
    <h4>Please give us some time to collect lovely things...</h4>
  </div>
  <div ng-show="ready" class="wrap">
    <div class="col-xs-3">
      <div id="brandSidebar" ng-controller="brandCtrl">
        <h1 class="brand-title col-xs-12">{{brandName}}</h1>
        <div id="brandFollow" class="col-xs-12">
          <button ng-click="followBrand(brand)" ng-hide="ifFollowed(brand)" class="follow btn">Follow</button>
          <button ng-click="unfollowBrand(brand)" ng-show="ifFollowed(brand)" class="unfollow btn">Unfollow</button>
        </div>
        <div id="intro" ng-include="brandIntro" class="col-xs-12"></div><br class="clearfix"/>
        <div id="chapters">
          <ul class="text-right">
            <li ng-repeat="chapter in brandChapters"><a href="/brand/{{brand}}/{{chapter}}" style="text-transform: capitalize" ng-class="{active: chapterActive(chapter)}">{{chapter}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="products" ng-controller="productsCtrl" class="col-xs-9">
      <wrap-products products="brandProducts"></wrap-products>
    </div>
  </div>
</div>
