public/views/pages/user/profile.html

<div id="profile" ng-controller="userCtrl">
  <div id="userTopbar">
    <ul class="col-xs-8">
      <li>my.</li>
      <li><a href="/user/{{currentUser.$id}}/love/loves" ng-class="{active: sectionActive(&quot;love&quot;)}">love</a></li>
      <li><a href="/user/{{currentUser.$id}}/profile" ng-class="{active: sectionActive(&quot;profile&quot;)}">profile</a></li>
    </ul><span class="col-xs-4 pull-right text-right">lovely to meet, <b>{{currentUser.firstname}} {{currentUser.lastname}}</b></span>
  </div><br class="clearfix"/>
  <div id="subNavi" ng-show="ifUnderLove()">
    <ul>
      <li><a href="/user/{{currentUser.$id}}/love/loves" ng-class="{active: subSectionActive(&quot;loves&quot;)}">LOVELY PRODUCTS</a></li>
      <li><a href="/user/{{currentUser.$id}}/love/reserves" ng-class="{active: subSectionActive(&quot;reserves&quot;)}">RESERVED PRODUCTS</a></li>
      <li><a href="/user/{{currentUser.$id}}/love/follows" ng-class="{active: subSectionActive(&quot;follows&quot;)}">FOLLOWED BRANDS</a></li>
    </ul>
  </div><br class="clearfix"/>
  <div id="accountProfile" class="col-xs-12">
    <div class="user-info profile-cell col-xs-6">
      <div class="profile-header col-xs-11">
        <h4>User info</h4>
      </div>
      <div class="profile-item col-xs-11">
        <div class="name"><strong>Name:  </strong>{{user.firstname}} {{user.lastname}}</div>
        <div class="username"><strong>User name: </strong>{{user.username}}</div>
        <div class="email"><strong>Email: </strong>{{user.email}}</div>
        <div class="address"><strong>Address: </strong>{{user.address}}</div>
      </div>
    </div>
    <div class="user-preference profile-cell col-xs-6">
      <div class="profile-header col-xs-11">
        <h4>User preferences</h4>
      </div>
      <div class="profile-item col-xs-11">
        <div class="fashion"><strong>Fashion: </strong>{{fashion}}</div>
        <div class="category"><strong>Category: </strong>{{categories}}</div>
        <div class="colour"><strong>Colour: </strong>{{colours}}</div>
        <div class="brand"><strong>Brands: </strong>{{brands}}</div>
        <div class="subscription"><strong>Subscription: </strong>{{newsletter}}</div>
      </div>
    </div>
  </div>
  <div id="edit">
    <button ng-model="showEdit" ng-click="showEdit=true" ng-show="userID == currentUser.$id" class="btn">Edit my profile</button>
  </div>
  <div id="edit-form" ng-controller="userCtrl" ng-if="showEdit">
    <form name="userInfo" ng-submit="userInfoUpdate()" novalidate="">
      <div class="edit-name col-xs-12">
        <div class="col-xs-6">
          <div class="col-xs-11">
            <h5>First name</h5>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="col-xs-12">
            <h5>Last name</h5>
          </div>
        </div>
        <div class="col-xs-6">
          <input type="text" placeholder="{{user.firstname}}" ng-model="user.firstname" class="col-xs-11"/>
        </div>
        <div class="col-xs-6">
          <input type="text" placeholder="{{user.lastname}}" ng-model="user.lastname" class="col-xs-12"/>
        </div>
      </div>
      <div class="edit-username">
        <h5>User name</h5>
        <input type="text" placeholder="{{user.username}}" ng-model="user.username" class="col-xs-12"/>
      </div>
      <div class="edit-address">
        <h5>Address</h5>
        <input type="text" placeholder="{{user.address}}" ng-model="user.address" class="col-xs-12"/>
      </div><br class="clearfix"/>
      <div class="edit-fashion col-xs-12">
        <div class="edit-title">
          <h5>Fashion</h5>
        </div>
        <div class="col-xs-3">
          <input type="radio" ng-model="user.fashion" value="x"/>
          <label>Man's fashion</label>
        </div>
        <div class="col-xs-3">
          <input type="radio" ng-model="user.fashion" value="y"/>
          <label>Woman's fashion</label>
        </div>
      </div>
      <div class="edit-colour col-xs-12">
        <div class="edit-title">
          <h5>Colour</h5>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Black" value="Black"/>Black
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.White" value="White"/>White
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Grey" value="Grey"/>Grey
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Red" value="Red"/>Red
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Blue" value="Blue"/>Blue
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Yellow" value="Yellow"/>Yellow
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Green" value="Green"/>Green
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Brown" value="Brown"/>Brown
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Orange" value="Orange"/>Orange
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Purple" value="Purple"/>Purple
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Pink" value="Pink"/>Pink
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Neutral" value="Neutral"/>Neutral
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Clear" value="Clear"/>Clear
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Metallic" value="Metallic"/>Metallic
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Pattern" value="Pattern"/>Pattern
          </label>
        </div>
        <div class="col-xs-3">
          <label class="colour">
            <input type="checkbox" ng-model="user.colour.Multicolour" value="Multicolour"/>Multicolour
          </label>
        </div>
      </div>
      <div class="edit-category col-xs-12">
        <div class="edit-title">
          <h5>Category</h5>
        </div>
        <div class="col-xs-4">
          <label>
            <input type="checkbox" ng-model="user.category.Shoes" value="Shoes"/>Shoes
          </label>
        </div>
        <div class="col-xs-4">
          <label>
            <input type="checkbox" ng-model="user.category.Accessories" value="Accessories"/>Accessories
          </label>
        </div>
        <div class="col-xs-4">
          <label>
            <input type="checkbox" ng-model="user.category.Bags" value="Bags"/>Bags
          </label>
        </div>
        <div class="col-xs-4">
          <label>
            <input type="checkbox" ng-model="user.category.Jewellery" value="Jewellery"/>Jewellery
          </label>
        </div>
        <div class="col-xs-4">
          <label>
            <input type="checkbox" ng-model="user.category.Apparel" value="Apparel"/>Apparel
          </label>
        </div>
        <div class="col-xs-4">
          <label>
            <input type="checkbox" ng-model="user.category.Lifestyle" value="Lifestyle"/>Lifestyle
          </label>
        </div>
      </div>
      <div class="edit-brand col-xs-12">
        <div class="edit-title">
          <h5>Most favourite 3 brands</h5>
        </div>
        <div class="col-xs-4">
          <input type="text" placeholder="{{user.brand.first}}" ng-model="user.brand.first" class="col-xs-11"/>
        </div>
        <div class="col-xs-4">
          <input type="text" placeholder="{{user.brand.second}}" ng-model="user.brand.second" class="col-xs-11"/>
        </div>
        <div class="col-xs-4">
          <input type="text" placeholder="{{user.brand.third}}" ng-model="user.brand.third" class="col-xs-11"/>
        </div>
      </div>
      <div class="edit-submit col-xs-4">
        <button type="submit" class="btn">Save</button>
      </div>
      <div class="edit-subscription col-xs-8">
        <input type="checkbox" ng-model="user.newsletter" value="true"/>
        <label>Receive our newsletter and recommendation?</label>
      </div>
    </form>
  </div>
</div>

build/public/views/pages/user/profile.jade
#profile(ng-controller='userCtrl')
  include user-topbar
  #accountProfile.col-xs-12
    .user-info.profile-cell.col-xs-6
      .profile-header.col-xs-11
        h4 User info
      .profile-item.col-xs-11
        .name 
          strong Name:  
          | {{user.firstname}} {{user.lastname}}
        .username
          strong User name: 
          | {{user.username}}
        .email
          strong Email: 
          | {{user.email}}
        .address 
          strong Address: 
          | {{user.address}}
    .user-preference.profile-cell.col-xs-6
      .profile-header.col-xs-11
        h4 User preferences
      .profile-item.col-xs-11
        .fashion
          strong Fashion: 
          | {{fashion}}
        .category 
          strong Category: 
          | {{categories}}
        .colour 
          strong Colour: 
          | {{colours}}
        .brand 
          strong Brands: 
          | {{brands}}
        .subscription 
          strong Subscription: 
          | {{newsletter}}
  #edit
    button.btn(ng-model='showEdit' ng-click='showEdit=true' ng-show='userID == currentUser.$id') Edit my profile
  #edit-form(ng-controller='userCtrl' ng-if="showEdit")
    form(name='userInfo' ng-submit='userInfoUpdate()' novalidate='')
      .edit-name.col-xs-12
        .col-xs-6
          .col-xs-11
            h5 First name
        .col-xs-6
          .col-xs-12
            h5 Last name
        .col-xs-6
          input.col-xs-11(type='text' placeholder='{{user.firstname}}' ng-model='user.firstname')
        .col-xs-6
          input.col-xs-12(type='text' placeholder='{{user.lastname}}' ng-model='user.lastname')
      .edit-username
        h5 User name
        input.col-xs-12(type='text' placeholder='{{user.username}}' ng-model='user.username')
      .edit-address
        h5 Address
        input.col-xs-12(type='text' placeholder='{{user.address}}' ng-model='user.address')
      br.clearfix
      .edit-fashion.col-xs-12
        .edit-title
          h5 Fashion
        .col-xs-3
          input(type='radio' ng-model='user.fashion' value='x')
          label Man's fashion
        .col-xs-3
          input(type='radio' ng-model='user.fashion' value='y')
          label Woman's fashion
      .edit-colour.col-xs-12
        .edit-title
          h5 Colour
        - var colourOptions = [{value: "Black"}, {value: "White"}, {value: "Grey"}, {value: "Red"}, {value: "Blue"}, {value: "Yellow"}, {value: "Green"}, {value: "Brown"}, {value: "Orange"},{value: "Purple"},{value: "Pink"},{value: "Neutral"}, {value: "Clear"}, {value: "Metallic"}, {value: "Pattern"}, {value: "Multicolour"}]
        each val in colourOptions
          .col-xs-3
            label.colour
              input(type="checkbox" ng-model='user.colour.#{val.value}' value="#{val.value}")
              | #{val.value}
      .edit-category.col-xs-12
        .edit-title
          h5 Category
        - var categoryOptions = [{value: "Shoes"}, {value: "Accessories"}, {value: "Bags"}, {value: "Jewellery"}, {value: "Apparel"}, {value: "Lifestyle"}]
          each val in categoryOptions
            .col-xs-4
              label
                input(type="checkbox" ng-model='user.category.#{val.value}' value="#{val.value}")
                | #{val.value}
      .edit-brand.col-xs-12
        .edit-title
          h5 Most favourite 3 brands
        .col-xs-4
          input.col-xs-11(type='text' placeholder='{{user.brand.first}}' ng-model='user.brand.first')
        .col-xs-4
          input.col-xs-11(type='text' placeholder='{{user.brand.second}}' ng-model='user.brand.second')
        .col-xs-4
          input.col-xs-11(type='text' placeholder='{{user.brand.third}}' ng-model='user.brand.third')
      .edit-submit.col-xs-4
        button.btn(type='submit') Save
      .edit-subscription.col-xs-8
        input(type='checkbox' ng-model='user.newsletter' value='true' )
        label Receive our newsletter and recommendation?
